div.root {
    width: 100%;
}

div.table-container {
    width: 80vw;
}

table {
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: 500;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    margin-top: 2rem;
    color: black;
}

.mat-column-operations {
    width: 100px;
    text-align: center;
}