<div class="root" fxLayout="column" fxLayoutAlign="start center">
    <div class="table-container" fxLayout="column" fxFlex>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
            <p class="title">Felhasználók</p>
            <button mat-fab color="primary" (click)="addUser()" class="add-fab" matTooltip="Új felhasználó felvétele">+</button>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
    
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Felhasználónév </th>
                <td mat-cell *matCellDef="let user">
                    {{user.username}}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="admin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin jogosultság</th>
                <td mat-cell *matCellDef="let user">{{ user.isAdmin ? 'igen' : 'nem'}}</td>
            </ng-container>

            <ng-container matColumnDef="operations">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Műveletek </th>
                <td mat-cell *matCellDef="let user">
                    <button mat-raised-button color="primary" class="operation-button" matTooltip="Szerkesztés" matTooltipPosition="above" [matTooltipShowDelay]="500" (click)="editUser(user)">
                        <mat-icon matListIcon> edit </mat-icon>
                    </button>
                    <button mat-raised-button color="warn" class="operation-button" matTooltip="Törlés" matTooltipPosition="above" [matTooltipShowDelay]="500"
                        (click)="deleteUser(user)" *ngIf="adminUser.id !== user.id">
                        <mat-icon matListIcon class="table-field-button"> delete </mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
</div>