<div fxLayout="column">
    <mat-toolbar class="mat-elevation-z2" color="primary">
        <span class="title"> {{title}} </span>
    </mat-toolbar>
    <div fxLayout="column" class="form-container">
        <form class="form" [formGroup]="orderEditorForm" (ngSubmit)="onSubmit()">

            <div class="form-row" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon matListIcon style="width: 40px;">fastfood</mat-icon>
                <mat-form-field fxFlex>
                    <input autocomplete="off" matInput required placeholder="Rendelt ételek"
                        formControlName="orderItems">
                </mat-form-field>
            </div>


            <div class="form-row" fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Rendelések</mat-label>
                    <mat-chip-list #chipList aria-label="Ételek">
                      <mat-chip *ngFor="let selectedItem of selectedItems" (removed)="removeFoodItem(selectedItem.id)">
                        {{selectedItem.name}}
                        <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip>
                      
                      <input
                      placeholder="Új étel..."
                      #foodInput
                      [formControl]="foodCtrl"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="addFoodItem($event)">
                    </mat-chip-list>
                  </mat-form-field>
            </div>




            <div class="form-row" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon matListIcon style="width: 40px;">note_add</mat-icon>
                <mat-form-field fxFlex>
                    <input autocomplete="off" matInput required placeholder="Megjegyzés" formControlName="notes">
                </mat-form-field>
            </div>

            <div class="form-row" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon matListIcon style="width: 40px;">confirmation_number</mat-icon>
                <mat-form-field fxFlex>
                    <input type="number" autocomplete="off" matInput required placeholder="Discount"
                        formControlName="discount">
                </mat-form-field>
            </div>

            <div class="form-row" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon matListIcon style="width: 40px;">directions_walk</mat-icon>
                <div fxFlex>
                    <mat-checkbox formControlName="takeaway">Elvitel</mat-checkbox>
                </div>
            </div>

            <div class="form-row" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon matListIcon style="width: 40px;">payment</mat-icon>
                <div fxFlex>
                    <mat-checkbox formControlName="status">Fizetve</mat-checkbox>
                </div>
            </div>



        </form>
    </div>

    <div fxLayout="row" class="button-row">
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
            <p class="error mr-4">{{error}}</p>
            <button type="button" mat-stroked-button color="primary" class="cancel" (click)="cancel()">Mégsem</button>
            <button type="submit" mat-flat-button color="primary" (click)="onSubmit()"
                [disabled]="!orderEditorForm.valid">Mentés
            </button>
        </div>
    </div>
</div>