<div class="root" fxLayout="column" fxLayoutAlign="start center">
  <div class="table-container" fxLayout="column" fxFlex>
    
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between" class="header-row">
      <p class="title">Rendelések</p>
      <button mat-fab color="primary" (click)="addOrder()" class="add-fab" matTooltip="Új rendelés felvétele">+</button>
    </div>

    <div fxFlex fxLayout="row wrap"> 
      <mat-card fxLayout="column" class="card" *ngFor="let order of orders; let i = index">
        <mat-card-header>
          <mat-card-title>Rendelés #{{i + 1}}</mat-card-title>
        </mat-card-header>
        <mat-card-content fxFlex>
          <p>Rendelés: {{getOrderItemsString(order.orderItems)}} </p>
          <p>Megjegyzés: {{order.notes}} </p>
          <p>Elvitel: {{order.takeaway === true ? 'Igen' : 'Nem'}} </p>
          <p>Státusz: {{order.status === false ? 'Folyamatban' : 'Fizetve'}} </p>
  
        </mat-card-content>
        <mat-card-actions>
          <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-between" class="operations">
            <button mat-raised-button (click)="deleteOrder(order)"  matTooltip="Törlés" matTooltipPosition="above" [matTooltipShowDelay]="500"><mat-icon matListIcon> delete </mat-icon></button>
            <button mat-raised-button (click)="editOrder(order)"  matTooltip="Szerkesztés" matTooltipPosition="above" [matTooltipShowDelay]="500"><mat-icon matListIcon> edit </mat-icon></button>
            <button mat-raised-button (click)="downloadInvoice(order)"  matTooltip="Számla letöltése" matTooltipPosition="above" [matTooltipShowDelay]="500"><mat-icon matListIcon> receipt </mat-icon></button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>