<div fxLayout="column">
    <mat-toolbar class="mat-elevation-z2" color="primary">
        <span class="title"> {{title}} </span>
    </mat-toolbar>
    <div fxLayout="column" class="form-container">
        <form class="form" [formGroup]="userEditorForm" (ngSubmit)="onSubmit()">
            <div class="form-row" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon matListIcon style="width: 40px;">account_box</mat-icon>
                <mat-form-field fxFlex>
                    <input autocomplete="off" matInput required placeholder="Felhasználónév" formControlName="username">
                </mat-form-field>
            </div>

            <div class="form-row" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon matListIcon style="width: 40px;">admin_panel_settings</mat-icon>
                <div fxFlex>
                    <mat-checkbox formControlName="admin">Admin jogosultság</mat-checkbox>
                </div>
            </div>
        </form>
    </div>

    <div fxLayout="row" class="button-row">
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
            <p class="error mr-4">{{error}}</p>
            <button type="button" mat-stroked-button color="primary" class="cancel" (click)="cancel()">Mégsem</button>
            <button type="submit" mat-flat-button color="primary" (click)="onSubmit()"
                [disabled]="!userEditorForm.valid">Mentés
            </button>
        </div>
    </div>
</div>
